nav {
  position: relative;
  width: 100%;
  margin: auto;
  padding: 10px;
}


nav ul {
  display: flex;
  justify-content: center;
  align-items: center; /*vertikālais*/
  list-style-type: georgian;
  margin: auto;
  padding: 10px;
  width: fit-content;
  height: 30px;
  background-color: rgba(42, 71, 45, 0.744);
}

nav ul li {
  display: inline;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 7px;
  text-decoration: none;
  padding-left: 10px;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 3px;
  border-left: 0px;
  border-color: white;
  border-style: inset;
}

a {
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-decoration: none;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

.current a {
  padding: 5px;
color: rgb(255, 255, 255);
border-top: 2px;
border-bottom: 2px;
border-right: 0px;
border-left: 0px;
border-color: white;
border-bottom-style: inset;
border-top-style: outset;
animation-name: fadein;
animation-duration: 2000ms;
animation-iteration-count: infinite;
animation-direction: alternate;
}

#endbutton {
  border: 0px;
  border-color: white;
  border-style: double;
}

@-webkit-keyframes slidein {
  from {background-position: top; background-size:2750px; }
  to {background-position: -100px 0px;background-size:2500px;}
  }
  
  @keyframes slidein {
  from {background-position: top;background-size:2750px; }
  to {background-position: -100px 0px;background-size:2500px;}
  }

div.background {
  height: 100vh;
  width: 100%;
  background-image: url('./goldwoodimages/pexels-tyler-lastovich-572688.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-size:cover;
        -webkit-animation: slidein 60s;
        animation: slidein 60s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

.header {
  position: relative;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.616), rgba(255, 255, 255, 0));
  width: auto;
  height: 170px;
  padding-bottom: 20px;
}

div.pakalpojumi {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  width: 80vw;
  height: 300px;
  margin: auto; 
}

div.pakalpojumi div {
  position: relative;
  width: 175px;
  height: 230px;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(rgb(255, 255, 255), rgba(26, 67, 28, 0.6));
}

div.pakalpojumi div a {
  position: relative;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  color: white;
  width: fit-content;
  display: block;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

div.pakalpojumi div img {
  position: relative;
  width: 140px;
  height: 160px;
  object-fit: cover;
  display: block;
  align-self: baseline;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
}

.sadaļamežizstrāde {
  position: relative;
  display: flex;
  background-color: rgb(107, 168, 97);
  width: 100vw;
  height: 100vh;
  margin-top: 10px;
}

.bloks1 {
  display: block;
  width: 34vw;
  height: 90vw;
  padding-top: 60px;
  border-style: inset;
  border: 3px;
  color: white;
}

.bloks1 p {
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  width: 110px;
  margin: auto;
}

.bloks1 img {
  margin-top: 30px;
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.bloks2 {
  display: block;
  width: 40vw;
  height: 80vh;
  margin-top: 30px;
}

.bloks2 p {
  display: block;
  text-indent: 20px;
  color: white;
  font-size: 16px;
}

.bloks2 div img {
  position: relative;
  width: 300px;
  height: 230px;
  object-fit: contain;
  margin-top: 20px;
}

#bloks2bildes {
  display: flex;
  justify-content: space-around;
  height: 300px;
  border-top: 0px;
  border-bottom: 1px;
  border-right: 0px;
  border-left: 0px;
  border-color: white;
  border-bottom-style: inset;
  border-top-style: outset;
}

/*apzaļumošana*/

.sadaļaapzaļumošana {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  padding-top: 20px;
  background-color: rgb(107, 168, 97);
  height: 100vh;
  margin-top: 10px;
}

.bloks3 {
  position: relative;
  display: block;
  width: 40vw;
  justify-content: center;
}

.bloks3sadaļa1 {
  position: relative;
  display: flex;
  width: 55vw;
  height: 48vh;
  border-bottom: 2px;
  border-color: white;
  border-bottom-style: inset;
}

.bloks3text {
  width: 400px;
  margin-left: 20px;
}

.bloks3text p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  color: white;
  text-indent: 20px;
}

#virsraksts {
  font-size: 20px;
  margin-bottom: 40px;
}

#nr1 {
  width: 350px;
  height: 350px;
  object-fit: contain;
  margin-top: 70px;
  margin-right: 30px;
  margin-left: 20px;
}

#nr2 {
  width: 350px;
  height: 250px;
  object-fit: cover;
  margin-left: 20px;
  margin-top: 20px;
}

#nr3 {
  width: 450px;
  height: 250px;
  object-fit: cover;
  margin-left: 20vw;
  margin-top: 3vh;
}

/*----------------------------------------------------------------------------------------------------------*/

.sadaļaarborists {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
  background-color: rgb(107, 168, 97);
  margin-top: 10px;
  padding-top: 35px;
}

    .bloks4 {
      position: relative;
      display: block;
      align-items: center;
      width: 45vw;
      height: 90vh;
      padding-top: 50px;
    }

    .bloks4 p {
      font-size: 20px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: white;
      width: 150px;
      margin: auto;
    }

    #nr4 {
      width: 450px;
      height: 350px;
      object-fit: contain;
      margin-left: 5vw;
      margin-top: 30px;
    }

    .bloks5 {
      width: 45vw;
      height: 95vh;
    }

    .bloks5sadaļa1 {
      width: 43vw;
      height: 43vh;
    }

    .bloks5sadaļa1text {
      position: relative;
      display: block;
      text-align: left;
      justify-content: left;
      width: 40vw;
      color: white;
      font-size: 16px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      text-indent: 20px;
    }

    .bloks5sadaļa1text p {
      margin-left: 30px;
    }

    #arboristssaraksts {
      position: relative;
      display: block;
      list-style-type: disc;
      color: white;
      background: none;
      margin-left: 10px;
    }

    .bloks5sadaļa1 ul li {
      display: block;
      color: white;
      font-size: 16px;
      letter-spacing: normal;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-left: 10px;
    }

    .bloks5sadaļa2 {
      width: 43vw;
      height: 43vh;
    }

    #nr5 {
      width: 250px;
      height: 250px;
      object-fit: scale-down;
    }

    #nr6 {
      width: 250px;
      height: 250px;
      margin-left: 20px;
    }

.sadaļanekustamais {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgb(107, 168, 97);
  margin-top: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}

.bloks6 {
  position: relative;
  display: block;
  width: 45vw;
  height: 100vh;
  margin-left: 3vw;
}
.bloks6sadaļa1 {
  position: relative;
  display: flex;
  width: 50vw;
  height: 50vh;
}

.bloks6sadaļa1bilde {
  position: relative;
  display: grid;
  align-items: center;
}

#nr7 {
  width: 280px;
  object-fit: scale-down;
}

.bloks6sadaļa1virsraksts {
  position: relative;
  display: grid;
  align-items: center;
  width: 250px;
  height: 35vh;
}

.bloks6sadaļa1virsraksts p {
  font-size: larger;
  text-align: center;
  color: white;
}

.bloks6sadaļa2 {
  font-size: medium;
}

.bloks7 {
  position: relative;
  display: grid;
  width: 45vw;
  align-items: center;
  justify-content: center;
}

#nr8 {
  width: 450px;
  object-fit: scale-down;
}

/*___________________sadaļafrēzēšana________________________*/

.sadaļafrēzēšana {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgb(107, 168, 97);
  margin-top: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}

.bloks8 {
  position: relative;
  display: block;
  width: 65vw;
  padding-top: 5vh;
}

.bloks8sadaļa1 {

  display: grid;
  position: relative;
  width: 40vw;
  height: 30vh;
  margin: auto;
}

#frēzēšanavirsraksts {
  text-align: center;
  font-size: larger;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.bloks8sadaļa1 p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  text-indent: 20px;
}

.bloks8sadaļa2 {
  position: relative;
  display: flex;
  width: 65vw;
  height: 65vh;
}

.bloks8sadaļa2bilde {
  position: relative;
  display: grid;
  width: 32vw;
  margin-left: 1vw;
  align-items: center;
  justify-content: center;
}

#nr9 {
width: 29vw;
object-fit: scale-down;
}

#nr10 {
  width: 31vw;
  object-fit: scale-down;
}

.bloks9 {
  position: relative;
  display: block;
  width: 30vw;
}

#nr11 {
  width: 27vw;
  margin-left: 2vw;
  margin-top: 7vh;
}

html {
  scroll-behavior: smooth;
}